header {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    #icons {
        display: flex;
        gap: 50px;
    }
    a {
        text-decoration: none;
        background-color: white;
        padding: 5px;
        border-radius: 6px;
    }
}
#body {
    background-color: lightblue;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    article {
        margin: 10px;
        background-color: white;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        img {
            height: 300px;
            width: 200px;
        }
        #product1 {
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 100px;
            
        }
    }
}
